.container{
    font-family: 'Montserrat', sans-serif;
}
.header{
    text-align: center;
    background-color: salmon;
    border: 1px solid salmon;
}
#header{
    font-style: italic;
}
.panel{
    border: 1px solid black;
    
    margin: 10px 0 10px 0;
}
.panel-heading{
    background-color: grey;
    font-weight: bold;
}
#save_article{
   
    margin: 0 auto;
    display: block;
}